@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
